<header>
    <div class="container-header">
        <!-- <img
                    class="logo"
                    src="/img/logos/Black Pink Bold Elegant Monogram Personal Brand Logo (1).png"
                    alt="logo was here"
                /> -->
        <a href="/home/main" class="header-logo">
            <div class="div-logo">AVT</div>
            <p><span class="portal">PORTAL</span></p></a
        >
        <div class="header-links">
            <a class="xazinaga-link" id="xazinaga" href="/home/xazinaga">
                Ta'lim olish
            </a>

            <a id="loyihalar" href="/home/loyihalar"> Loyihalar</a>
        </div>

        <div class="header-search-div">
            <input
                class="header-search-input"
                type="search"
                name="header-search"
                placeholder="Qidiruv"
            />
        </div>
    </div>
    <div class="links"></div>
</header>
<script src="/js/headerLinks.js"></script>
