<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/header/head') %>
        <link rel="stylesheet" href="/css/home.css" />
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/loyihalar.css" />
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <section class="loyihalar-section">
            <div class="file-section">
                <div class="file-links-class">
                    <ul class="file-links-ul">
                        <a href="/project/3dsmax">
                            <li>3DS MAX</li>
                        </a>

                        <a href="/project/unreal">
                            <li>UNREAL ENGINE</li>
                        </a>
                        <a href="/project-figma/figma">
                            <li>FIGMA</li>
                        </a>
                        <a href="/project-premier-pro/premier-pro">
                            <li>ADOBE PREMIER PRO</li>
                        </a>
                        <a href="/project-illustrator/illustrator">
                            <li>ADOBE ILLUSTRATOR</li>
                        </a>
                        <a href="/project-corel/corel">
                            <li>COREL DRAW</li>
                        </a>
                        <a href="/project-photoshop/photoshop">
                            <li>ADOBE PHOTOSHOP</li>
                        </a>
                        <a href="/project-after-effects/after-effects">
                            <li>ADOBE AFTER EFFECTS</li>
                        </a>
                    </ul>
                </div>
                <div class="ptojects">
                    <div class="project-block">
                        <div class="designer-sitting">
                            <div class="image">
                                <!-- <p>Hozircha loyihalar mavjud emas!</p> -->
                            </div>
                        </div>
                        <div class="img-block"></div>
                        <div class="text-block">
                            <!-- <p>
                                Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Laborum, consectetur?
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Quod, nostrum at? Sint id eius
                                nulla, magni distinctio deserunt cumque culpa.
                            </p> -->
                        </div>
                    </div>
                </div>
                <div class="uploading">
                    <div class="uploading-text">
                        3ds Max, Autodesk kompaniyasi tomonidan ishlab chiqilgan
                        eng mashhur 3D modeling, animatsiya va vizual effektlar
                        dasturiy ta'minoti hisoblanadi. U o'rtacha va katta
                        miqyosdagi filmlarda, o'yinlarda, dizaynda va boshqa
                        sohalar-da qo'llaniladi.
                    </div>
                    <div class="uploading-files-block"></div>
                </div>
            </div>
            <div class="file-footer">
                <p>
                    3ds Max dasturi 1990-yillarda 3D Studio MAX nomi bilan
                    chiqarilgan. Keyinroq Autodesk tomonidan sotib olingan va
                    nomi 3ds Max ga o'zgardi. Dasturning eng oxirgi versiyasi
                    2022 yilda chiqdi.
                </p>
            </div>
        </section>
    </body>
</html>
