<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/header/head') %>
        <link rel="stylesheet" href="/css/home.css" />
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/talimOlish.css" />
        <link rel="stylesheet" href="/css/talimOlishGray.css" />
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <section class="edu-section">
            <div class="edu-wrapper">
                <div class="sidebar">
                    <div class="edu-links-div">
                        <ul class="edu-links-ul">
                            <div class="edu-link-div">
                                <a class="edu-links-a" href="/course/3dsmax">
                                    <li class="edu-links-li-elem">
                                        <p>3DS MAX</p>
                                        <img
                                            class="study-links-icon"
                                            src="/icons/studyLinks/3dmax.png"
                                            alt=""
                                        />
                                    </li>
                                </a>
                            </div>
                            <div class="edu-link-div">
                                <a
                                    class="edu-links-a"
                                    href="/course/unreal-engine"
                                >
                                    <li class="edu-links-li-elem">
                                        <p>UNREAL ENGINE</p>
                                        <img
                                            class="study-links-icon"
                                            src="/icons/studyLinks/unreal.png"
                                            alt=""
                                        />
                                    </li>
                                </a>
                            </div>
                            <div class="edu-link-div">
                                <a class="edu-links-a" href="/course/figma">
                                    <li class="edu-links-li-elem">
                                        <p>FIGMA DESIGN</p>
                                        <img
                                            class="study-links-icon"
                                            src="/icons/studyLinks/figma.png"
                                            alt=""
                                        />
                                    </li>
                                </a>
                            </div>

                            <div class="edu-link-div">
                                <a
                                    class="edu-links-a"
                                    href="/course/corel-draw"
                                >
                                    <li class="edu-links-li-elem">
                                        <p>COREL DRAW</p>
                                        <img
                                            class="study-links-icon"
                                            src="/icons/studyLinks/corel.png"
                                            alt=""
                                        />
                                    </li>
                                </a>
                            </div>
                            <div class="edu-link-div">
                                <a
                                    class="edu-links-a"
                                    href="/course/adobe-illustrator"
                                >
                                    <li class="edu-links-li-elem">
                                        <p>ADOBE ILLUSTRATOR</p>
                                        <img
                                            class="study-links-icon"
                                            src="/icons/studyLinks/illustrator.png"
                                            alt=""
                                        />
                                    </li>
                                </a>
                            </div>
                            <div class="edu-link-div">
                                <a
                                    class="edu-links-a"
                                    href="/course/adobe-premier-pro"
                                >
                                    <li class="edu-links-li-elem">
                                        <p>ADOBE PREMIER PRO</p>
                                        <img
                                            class="study-links-icon"
                                            src="/icons/studyLinks/premier.png"
                                            alt=""
                                        />
                                    </li>
                                </a>
                            </div>
                            <div class="edu-link-div">
                                <a
                                    class="edu-links-a"
                                    href="/course/adobe-photoshop"
                                >
                                    <li class="edu-links-li-elem">
                                        <p>ADOBE PHOTOSHOP</p>
                                        <img
                                            class="study-links-icon"
                                            src="/icons/studyLinks/PS.png"
                                            alt=""
                                        />
                                    </li>
                                </a>
                            </div>
                            <div class="edu-link-div">
                                <a
                                    class="edu-links-a"
                                    href="/course/adobe-after-effects"
                                >
                                    <li class="edu-links-li-elem">
                                        <p>ADOBE AFTER EFFECTS</p>
                                        <img
                                            class="study-links-icon"
                                            src="/icons/studyLinks/after.png"
                                            alt=""
                                        />
                                    </li>
                                </a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="video-bar">
                <video
                    class="video-bar-video"
                    autoplay
                    start="30"
                    loop
                    controls
                >
                    <source src="/videos/mirage.mp4" type="video/mp4" />
                </video>
                <!-- <div class="video-container">
                    <iframe
                        src="https://www.youtube.com/embed/_8GvZTnZZm0?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0&autoplay=1&start=3"
                        class="video-bar-video"
                        frameborder="0"
                        marginheight="0"
                        marginwidth="0"
                        allowfullscreen="allowfullscreen"
                        allow="autoplay"
                        width="100%"
                        height="100%"
                    ></iframe>
                </div> -->
            </div>

            <div class="videos-text">
                <p>ASSASSINS CREED MIRAGE o'yini treyleri</p>
                <p>
                    Bu esa o'z navbatida Audio vizual texnologiyalari yo'nalishi
                    imkoniyatlari natijasidir
                </p>
            </div>
        </section>
    </body>
</html>
