<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/header/head') %>
        <link rel="stylesheet" href="/css/mainPage.css">
    </head>
    <body>
        <section class="mainpage">
            <div class="video-wrapper">
                <video autoplay muted loop id="myVideo">
                    <source src="/videos/loginVideo.mp4" type="video/mp4">
                </video>
            </div>
            <div class="form-wrapper-login">
                            <form class="form-elements" action="/auth/login" method="post">
                                <h3 class="form-name">Tizimga kirish</h3>
                                <div class="form-elements">
                                    <input
                                    type="text"
                                    name="username"
                                    placeholder="Foydalanuvchi nomi"
                                    required
                                    autocomplete="on"
                                    />
                                    <input
                                        type="password"
                                        name="password"
                                        placeholder="Parol"
                                        readonly
                                        onfocus="this.removeAttribute('readonly')"
                                    />
                                    <button class="kirish" type="submit">Tizimga kirish</button>
                                    yoki
                                    <button class="register"><a href="/auth/registration">Ro'yxatdan o'tish</a></button>
                                </div>
                                <div class="errors">
                                    <% if(message) {%>
                                        <%= message %></p>
                                    <%}%>
                                </div>
                            </form>
            </div>
        </section>
       <script>
            function isMobileDevice() {
                return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
            }
            function showMobileMessage() {
                
                
                document.body.style.display = 'none';
                let messageElement = document.createElement('div');
               
                messageElement.innerHTML = "Barcha funksionallikni ko'rish uchun saytga kompyuter orqali kiring";
                
                messageElement.innerHTML = 'Пожалуйста, посетите сайт с компьютера для полного функционала.';
                messageElement.style.backgroundColor = 'red'; // Установите цвет фона
                messageElement.style.color = 'white'; // Установите цвет текста
                messageElement.style.padding = '10px'; // Добавьте отступы
                messageElement.style.fontFamily = 'Arial, sans-serif'; // Установите шрифт
                document.documentElement.style.display = 'none';
                document.body.appendChild(messageElement);
                window.addEventListener('load', function () {
                document.documentElement.style.display = 'block';
            });
            }       
            if (isMobileDevice()) {
                showMobileMessage();
            }
       </script>
    </body>
</html>
